<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Устанавливаем multipart/form-data -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Выводим каждое поле формы в отдельном параграфе -->
        {{ form.as_p }}
        <button type="submit">Загрузка</button>
    </form>

<!-- Выводим уже созданные записи -->
{% for b in files %}
    <p>{{ b.title }}</p>
    <a href="{{ b.files }}">Файл</a>
{% endfor %}
</body>
</html>